body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

main {
    width: 100%;
    min-height: calc(100vh - 200px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    background: #edb500;
}

.return {
    color: #edb500;
    font-size: 40px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 999;
}

.return i {
    color: #edb500;
}

.imagemLot {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.imagemLot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-div {
    display: inline-block;  
    width: 100%;
}

.search-form {
    position: absolute;
    display: inline-block;
    width: 100%;
}

#search-btn {
    position: relative;
    right: -89%;
    top: -32px;
    cursor: pointer;
    background-color: #edb500;
    padding: 5px;
    border-radius: 5px;
}

.navbar {
    background: #edb500;
}

.division {
    display: flex;
    height: 1px;
    width: 100%;
    border-bottom: 1px dashed #000;
    margin: 10px 0 20px 0;
}

.list-lots {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    flex-wrap: wrap;
}
.list-cuts {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.btn-primary {
    background: #edb500;
    border: #edb500;;
}

.add-div {
    background-color: #1357c4;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
    margin-bottom: 10px;
    width: 50%;
}

.dialog-sair {
    background-color: #b3140c;
    cursor: pointer;
    border: none;
    display: inline-block;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.buttons-dialog {
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

dialog {
    border-radius: 10px;
    padding: 20px;
}

.lot-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options {
    display: flex;
    gap: 30px;
}