{% extends "base.html" %}

{% block title %} Editando {{lot.local}} {% endblock %}

{% block content %}

<main>
    <div class="offset-1 col-10">
        <h1>Editando {{lot.local}}</h1>
        <form method="POST" class="forms">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="Editar Lote">
            <input class="btn btn-success" value="Cancelar" onclick="location.href = '/'">
        </form>
    </div>
</main>
{% endblock %}