{% extends 'base.html' %}
{% block title %}{{lot.local}} | Banana's{% endblock %}
{% block content %}
{% load static %}

<main>

    <div class="return">
        <a href="/"><i class="fa-solid fa-rotate-left"></i></a>
    </div>

    <div class="imagemLot">
        <img src="{% static 'img/projeto.jpg' %}" alt="">
    </div>
    
    <div class="offset-1 col-10 list-div">
        <h1>Local: {{lot.local}}</h1>
        <p>Nome: {{lot.nome_titular}}</p>
        <p>Hectares: {{lot.hectares}}</p>
        <p>Identificador: {{lot.numero}}</p>

        <div>
            <div id="add-lot" class="col-2 add-div">
                <i class="fas fa-plus"></i> Adicionar Corte
            </div>
        </div>

        <dialog id="dialog-add-lot">
            <div class="offset-1 col-10 list-div">
                <h1>Adicione o novo corte:</h1>
                <form class="forms" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="buttons-dialog">
                        <input type="submit" class="btn btn-success" value="Adicionar">
                        <div class="dialog-sair" id="dialog-sair">Sair</div>
                    </div>
                </form>
            </div>
        </dialog>

        <div class="col-9 search-div">
            <form method="GET" id='search-form'>
                <input class="form-control" type="text" id="search" name="search" placeholder="Ex: 2024-06-08, aaaa-mm-dd " value="{{ request.GET.search }}">
                <i class="fa-solid fa-magnifying-glass" id="search-btn"></i>
            </form>
        </div>

        <div class="division"></div>

        {% if messages %}
            <ul class="messages">
                {% for message in messages%}
                    <li {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}


        <div class="list-lots">
            {% for cut in cuts %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body" id="cut-{{cut.id}}">
                        <h5 class="card-title">Data: {{cut.data}}</h5>
                        <p class="card-text">ID Lote: {{cut.id_lot}}</p>
                        <p class="card-title">Primeira: {{cut.primeira}}</p>
                        <p class="card-title">Segunda: {{cut.segunda}}</p>
                        <p class="card-title">Peso da Caixa: {{cut.kg_caixa}}kg</p>
                        <p class="card-title">Cotação: R$ {{cut.cotacao}}</p>
                        <p>Porcentagem: {{cut.porcentagem}}%</p>
                        <p>Preço médio total: R$ {{cut.preco_total}}</p>

                        <div class="lot-bottom">
                            <!-- <button class="btn btn-primary" id="{{cut.id}}" onclick="viewPrice(this)">Preço</button> -->

                            <div class="options">
                                <span><a href="/deleteCut/{{cut.id}}"><i class="fas fa-trash"></i></a></span>
                                <span><a href="/editCut/{{cut.id}}"><i class="fas fa-edit"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <input type="hidden" name="id", id="id", value="{{lot.id}}">

        <!-- <dialog id="ver-preco">
            <div id="price" class="offset-1 col-10 list-div">
                <h1>Calculo de preço:</h1>
                <p id="price-value">Preço médio total: {cuts.ID.preco_total}</p>
                
                <div class="buttons-dialog">
                    <div class="dialog-sair" id="dialog-sair2">Sair</div>
                </div>
            </div>
        </dialog> -->

    </div>
</main>

<script src="{% static 'js/cuts.js' %}"> </script>
{% endblock %}